* {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.btn1 {
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: 550;
    font-size: 15px;
}

.btn2 {
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-weight: 550;
    font-size: 20px;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

select {
    width: 100px;
    height: 30px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-image: url("NF-img.jpg");
    height: 800px;
    padding-top: 10px;
}
nav{
    padding-bottom: 20px;
    display: flex;
}
.container,
.div1 {
    font-size: 35px;
    background-color: transparent;
}

.container1 h1 {
    font-size: 50px;
    background-color: transparent;
}

.container1,
.div2 {
    font-size: 20px;
    background-color: transparent;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.box1 {
    font-size: 20px;
    word-wrap: break-word;
    width: 400px;
    flex-direction: column-reverse;
}

.container2 h1 {
    font-size: 50px;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.box3 {
    font-size: 20px;
    word-wrap: break-word;
    width: 400px;
    flex-direction: column-reverse;
}

.container3 h1 {
    font-size: 50px;
}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.box4 {
    font-size: 20px;
    width: 400px;
    flex-direction: column-reverse;
    word-wrap: break-word;
}

.container4 h1 {
    font-size: 50px;
}

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.box5 {
    font-size: 20px;
    word-wrap: break-word;
    width: 400px;
    flex-direction: column-reverse;
}

.container5 h1 {
    font-size: 50px;
}

footer {
    padding-top: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.footnote {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 60px;
    column-gap: 50px;
    row-gap: 50px;
    padding-top: 80px;
}



li {
    list-style: none;
    display: block;
}

.hell {
    font-size: large;
    padding-top: 50px;
}
span{
    padding-left: 1100px;
    padding-top: 45px;
}