.btn1 {
    background-color: red;
    color: white;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    font-weight: 550;
    font-size: 15px;
}

.btn2 {
    background-color: red;
    color: white;
    border-radius: 3px;
    width: 150px;
    height: 40px;
    font-weight: 550;
    font-size: 20px;
}

input {
    width: 300px;
    height: 40px;
}

select {
    width: 100px;
    height: 30px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container,
.div1 {
    font-size: 35px;
}

.container1 h1 {
    font-size: 50px;
}

.container1,
.div2 {
    font-size: 20px;
}