.parent {
    height: 350px;
    width: 300px;
}

.surround {
    border-radius: 10px;
    border-color: black;
    background-color: antiquewhite;
    padding: 10px;


}

.org {
    color: black;
    font-size: large;
   

}

.image img {
   border-width: 10px;
   border-radius: 10px;
   padding-left: 3px;
border-color: solid blue;
}

span{
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 3;
    font-size: 15px;

}