*{
    background-color: rgb(86, 86, 86);
}

img{
    border:10px solid whitesmoke;
}
.image{
    display: flexbox;
    justify-content: center;
    text-align: center;
    align-items: center;
}

footer{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 150px;
    color: burlywood;
}

ul{
    list-style:inside;
    color: beige;
}

li{
    margin-top: 20px;
    font-size: 20px;
}

.subtext{
    font-size: 30px;
    color:burlywood;
}

.caption{
    font-size: 20px;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aqua;
}

.music{
    padding-top: 10px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;

}