* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--seccolor);
}

:root {
    --bgcolor: rgb(3, 57, 71);
    --seccolor: rgb(80, 190, 190);


}

nav {
    background-color: var(--bgcolor);
    height: 35px;
    position: sticky;
    top:0;
}

div {
    display: inline;

}

.icon {
    font-size: 20;
    list-style: none;
    padding: 5px 15px 5px 15px;
    display: inline-block;
    border: 2px solid blueviolet;
    border-radius: 7px;
    color: antiquewhite;
    position: sticky;
}

.container {
    border: 2px solid black;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.box1 {
    border: 2px solid black;
    width: 300px;
    height: 300px;
    margin:20px;
    background-color: rgb(78, 190, 83);
    
}
.box2{
    border: 2px solid black;
    width: 300px;
    height: 300px; 
    margin: 20px;
    background-color: rgb(205, 58, 58);
}

.container2{
    border: 2px solid black;
    height: 600px;
    width:100vw;
    display:flex;
    justify-content: center;
}

.descbox{
    margin:100px;
    border:2px solid black;
    height: 100px;
    width:400px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:30%;
    
    font-size:30px;
    background-color: rgb(48, 43, 43);
}
.desc{
    margin-top: 15px;
    color: whitesmoke;
}

footer{
    background-color: rgb(255, 0, 251);
    }    

    .button{
        background-color: orange;
        border: 2px solid black;
        height: 30px;
        width:30px;
        border-radius: 30px;
        position: fixed;
        bottom:80px;
        left:95vw;


    }