/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


body{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* text-align: center; */
}

.head {
  margin-top: 30px;
  color: #d6c4c4;
}
main{
border: 5px solid  #282D35;
background-color: 282D35;
color: #d6c4c4;
height: 60vh;

background-color: #282D35;
}
svg{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
li{
  text-decoration-color: rgb(115, 220, 220);
  padding-left: 0%;
}
li::marker{
  color: aqua;
}
ul{
  padding-left: 3vw;
}