* {
    background-color: rgb(160, 140, 173);
    font-size: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.invi {
    visibility: hidden;
}

h1 {
    margin-top: 0;
    font-size: 9vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 6vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid rgb(41, 27, 50);
    padding-bottom: 5vh;
}

nav,
.nav {
    background-color: blueviolet;
    display: flex;
    font-size: 3vh;
    width: 100vw;

}

.head {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 3vw;
}

.img {
    width: 10vw;
    height: 20vh;
}

nav {
    border-radius: .5rem;

}

a {
    text-decoration: none;
    color: rgb(23, 54, 176)
}

.nav {
    padding: 0.6vw;
    gap: 5vw;
    color: beige;
    border-radius: 0;
    border: 2px solid rgb(160, 140, 173);
    text-align: center;
    justify-content: center;
    width: 33.33vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.disc {
    color: rgb(61, 8, 76);

}

.opt {
    width: 20vw;

}

@media screen and (max-width:720px) {
    .img {
        width: 27vw;
    }
    nav,.nav{
        width: 100vw;
    }
}