html, body {
  margin: 0;
}
header{
  display: flex;
  background-color: red;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
svg{
width:8vw;
height:8vh;  
}
h1{
  font-size:3.5vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
